<footer id="main-footer-container">
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="footer-item__wrapper">
            <div class="footer-item about-us">
              <div class="footer-title">About Us</div>
              <div class="blurb footer-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Tristique ut donec ipsum dignissim faucibus auctor euismod. Et
                  sodales urna in nullam montes, at convallis sodales. Nunc
                  lectus eget in amet. Scelerisque nunc tortor, facilisis
                  imperdiet viverra. Vitae euismod pulvinar tempor, sapien
                  tincidunt duis etiam. In tincidunt aenean in eget.
                </p>
              </div>
            </div>
            <div class="footer-item quick-links">
              <div class="footer-title">Quick Links</div>
              <ul class="blurb footer-body list-style-type-none m-0">
                <li class="footer-list-item">
                  <a routerLink="#">All Products</a>
                </li>
                <li class="footer-list-item">
                  <a routerLink="#">Terms & Service</a>
                </li>
                <li class="footer-list-item">
                  <a routerLink="/contact">Contact Us</a>
                </li>
              </ul>
            </div>
            <div class="footer-item contact-us">
              <div class="footer-title">Contact Us</div>
              <ul class="blurb footer-body list-style-type-none m-0">
                <li class="footer-list-item">
                  <span class="icon-wrapper"
                    ><i class="fa-solid fa-location-dot"></i
                  ></span>
                  Bhaktapur, Nepal
                </li>
                <li class="footer-list-item">
                  <span class="icon-wrapper"
                    ><i class="fa-solid fa-phone"></i></span
                  >+01-123232, +977-9784312332
                </li>
                <li class="footer-list-item">
                  <span class="icon-wrapper"
                    ><i class="fa-solid fa-envelope"></i></span
                  ><a href="mailto:contact@ss.com.np">contact@ss.com.np</a>
                </li>
              </ul>
            </div>
            <div class="footer-item follow-us">
              <div class="footer-title">Follow Us</div>
              <ul
                class="blurb footer-body social-media__list list-style-type-none m-0"
              >
                <li class="footer-list-item">
                  <a href="#" class="facebook">
                    <i class="fa-brands fa-facebook-square"></i>
                  </a>
                </li>
                <li class="footer-list-item">
                  <a href="#" class="instagram">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li>
                <li class="footer-list-item">
                  <a href="#" class="youtube">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
                <li class="footer-list-item">
                  <a href="#" class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle-area">
    <div class="container">
      <div class="categories-footer__wrapper">
        <div class="categories-item">
          <h4 class="categories-title">Fashion</h4>
          <ul class="blurb list-style-type-none">
            <li>
              <a routerLink="/category">Men's Fashion</a>
            </li>
            <li>
              <a routerLink="/category">Women's Fashion</a>
            </li>
          </ul>
        </div>
        <div class="categories-item">
          <h4 class="categories-title">Electroni Accessories</h4>
          <ul class="blurb list-style-type-none">
            <li>
              <a routerLink="/">Audio and Video Devices</a>
            </li>
            <li>
              <a routerLink="/">Bluetooth</a>
            </li>
            <li>
              <a routerLink="/">Headphone</a>
            </li>
            <li>
              <a routerLink="/">Speaker</a>
            </li>
            <li>
              <a routerLink="/">Projector</a>
            </li>
          </ul>
        </div>
        <div class="categories-item">
          <h4 class="categories-title">Electroni Accessories</h4>
          <ul class="blurb list-style-type-none">
            <li>
              <a routerLink="/">Audio and Video Devices</a>
            </li>
            <li>
              <a routerLink="/">Bluetooth</a>
            </li>
            <li>
              <a routerLink="/">Headphone</a>
            </li>
            <li>
              <a routerLink="/">Speaker</a>
            </li>
            <li>
              <a routerLink="/">Projector</a>
            </li>
          </ul>
        </div>
        <div class="categories-item">
          <h4 class="categories-title">Camera Accessories</h4>
          <ul class="blurb list-style-type-none">
            <li>
              <a routerLink="/">Shoe Mount</a>
            </li>
            <li>
              <a routerLink="/">Tripod</a>
            </li>
          </ul>
        </div>
        <div class="categories-item">
          <h4 class="categories-title">Fashion</h4>
          <ul class="blurb list-style-type-none">
            <li>
              <a routerLink="/">Men's Fashion</a>
            </li>
            <li>
              <a routerLink="/">Women's Fashion</a>
            </li>
          </ul>
        </div>
        <div class="categories-item">
          <h4 class="categories-title">Electroni Accessories</h4>
          <ul class="blurb list-style-type-none">
            <li>
              <a routerLink="/">Audio and Video Devices</a>
            </li>
            <li>
              <a routerLink="/">Bluetooth</a>
            </li>
            <li>
              <a routerLink="/">Headphone</a>
            </li>
            <li>
              <a routerLink="/">Speaker</a>
            </li>
            <li>
              <a routerLink="/">Projector</a>
            </li>
          </ul>
        </div>
        <div class="categories-item">
          <h4 class="categories-title">Camera Accessories</h4>
          <ul class="blurb list-style-type-none">
            <li>
              <a routerLink="/">Shoe Mount</a>
            </li>
            <li>
              <a routerLink="/">Tripod</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="text-center">
        <p class="copyright mb-2">Copyright © 2022 Sales Store</p>
        <p class="mb-0">
          Designed by
          <a href="https://www.uttammahat.com.np" target="_blank">Uttam</a>
        </p>
      </div>
    </div>
  </div>
</footer>
