@import '../../scss/mixin';

.title-wrapper .title {
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.title-wrapper {
    margin-bottom: 24px;
}

.cart-total-item-wrapper .cart-total-item {
    color: #585858;
    padding-bottom: 8px;
    margin-bottom: 14px;
    border-bottom: 1px solid #eaeaea;
}

.carts-item-total {
    color: $text-dark;
    font-weight: 700;
}

.form-group.coupoun-input-wrapper {
    max-width: 400px;
    position: relative;
}

.form-group.coupoun-input-wrapper input {
    width: 100%;
    height: 50px;
    padding: 8px 24px;
    border-radius: 40px;
    border: 1px solid #eaeaea;
    @include transition;
}

.form-group.coupoun-input-wrapper input:hover,
.form-group.coupoun-input-wrapper input:focus {
    border-color: $brand-color;
}

.form-group.coupoun-input-wrapper button.btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    z-index: 1;
    @include display-flex;
    @include flex-direction-row;
    @include align-items-center;
    @include justify-content-center;
    padding: 4px 34px;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.custom-control-input.is-invalid~.custom-control-label span,
.was-validated .custom-control-input:invalid~.custom-control-label span {
    color: #dc3545 !important;
}

/* your order cart-total start */
.carts-item-total {
    font-size: 18px;
}

.carts-item-total {
    text-align: right;
}

.cart-total-item-wrapper {
    .cart-total-item {
        color: #585858;
        padding-bottom: 8px;
        margin-bottom: 14px;
        text-align: right;
        border-bottom: 1px solid #eaeaea;
    }
}

/* your order cart-total close */

.shipping-address__item {
    position: relative;
    display: block;
    margin-bottom: 14px;

    label {
        display: block;
        width: 100%;
        background-color: $fill-light-secondary;
        border: 1px solid $form-input-bg;
        padding: 14px;
        border-radius: 4px;
        position: relative;
        @include transition;

        &:hover {
            background-color: $fill-light-4;
            border-color: $dark-primary-color;
            cursor: pointer;
        }

        .custom-control-label::before,
        .custom-control-label::after {
            opacity: 0;
        }

        .city-name {
            display: block;
        }

        .label-text.custom-control-label {
            width: calc(100% - 42px);
            display: inline-block;
            margin: 0;
        }
    }

    input {
        position: absolute !important;

        &:checked {
            +label {
                background-color: #fef7f1;
                border-color: $brand-color;
            }
        }
    }

    .item-delete-icon {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);

        &:hover,
        &:focus {
            transform: translateY(-50%) scale(1.04);
            
        }
    }
}