@import '../../../scss/mixin';

.footer-item {
    margin-bottom: 24px;

    &:not(:last-child) {
        margin-right: 24px;
    }

    &.contact-us {
        .footer-list-item {
            display: flex;
        }
    }

    .footer-title {
        color: $text-dark;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 14px;
    }

}

.footer-list-item {
    margin-bottom: 14px;

    a {
        font-size: 14px;
        color: $accent-color;

        &:hover {
            color: $brand-color;
            text-decoration: underline;
        }
    }

    .icon-wrapper {
        @include display-flex;
        @include align-items-center;
        margin-right: 10px;
    }
}

.contact-us {
    .footer-list-item {
        @include display-flex;
        @include align-items-center;
    }
}

.social-media__list {

    li {
        @include display-flex;
        @include align-items-center;
    }

    a {
        @include display-flex;
        @include align-items-center;
        padding: 0;
        margin-right: 0;
        margin-bottom: 0;
        color: $fill-dark;
        @include transition;

        i {
            font-size: 24px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}