<section class="login-page section-padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <div class="section-title-wrapper">
                    <h2 class="section-title title--md">Forgot Password</h2>
                    <p class="login-register-disclamer">
                        <span>Go to </span>
                        <a routerLink="/login">Log In</a> page
                    </p>
                </div>
                <div class="sub-text mb-3">
                    <p class="mb-0">
                        We need your email address so we can send you the password reset code.
                    </p>
                </div>
                <div class="login-register-wrapper aside-card-wrapper">
                    <form class="login-register-wrapper-form" formGroup="forgotPasswordForm">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="emailAddress">Email</label>
                                    <input class="form-control" formControlName="email" id="emailAddress"
                                        placeholder="name@example.com" type="email" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group mt-4">
                                    <button type="button" class="btn primary-btn fill-primary">Send Email</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
