<section class="login-page section-padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <div class="section-title-wrapper">
                    <h2 class="section-title title--md">Create New Password</h2>
                    <p class="login-register-disclamer">
                        <span>Go to </span>
                        <a routerLink="/login">Log In</a> page
                    </p>
                </div>
                <div class="sub-text mb-3">
                    <p class="mb-0">
                        Set your new password so you can Login and access Sales Store.
                    </p>
                </div>
                <div class="login-register-wrapper aside-card-wrapper">
                    <form class="login-register-wrapper-form" formGroup="resetPasswordForm">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <div class="input-group psw-toggle-group m-0">
                                        <input class="form-control" formControlName="newPassword" id="newPassword"
                                            placeholder="Enter New Password" type="password" autocomplete="off"
                                            aria-label="New Password" aria-describedby="new-password">
                                        <div class="input-group-append">
                                            <button class="btn btn--psw-toggle" type="button">
                                                <i class="fas fa-eye-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="sub-text mt-3">
                                        <p class="mb-0">Use 8 or more
                                            characters with a mix of letters, numbers &amp; symbols</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <div class="input-group psw-toggle-group m-0">
                                        <input class="form-control" formControlName="confirmPassword"
                                            id="confirmPassword" placeholder="Re-enter Password" type="password"
                                            autocomplete="off" aria-label="Confirm Password"
                                            aria-describedby="confirm-password">
                                        <div class="input-group-append">
                                            <button class="btn btn--psw-toggle" type="button">
                                                <i class="fas fa-eye-slash"></i>
                                                <!-- show below icon when toggle -->
                                                <!-- <i class="fa-solid fa-eye"></i> -->
                                            </button>
                                        </div>
                                    </div>
                                    <div class="sub-text mt-3">
                                        <p class="mb-0">Both password must match</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group mt-4">
                                    <button type="submit" class="btn primary-btn fill-primary">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
