@import '../../scss/mixin';

tfoot tr.subtotal td,
.carts-item-total {
    font-size: 18px;
    font-weight: 700;
}

.carts-item-total {
    text-align: right;
}

td.carts-product-img-td {
    width: 430px;
}

.product-img-table-wrapper {
    max-width: 110px;
    max-height: 110px;
    margin-right: 14px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1/1;
        display: block;
        background-color: $text-dark-secondary-two;
        border-radius: 4px;
        cursor: pointer;
        @include transition;
    }

    &:hover img {
        opacity: 0.7;
    }

}

.carts-product-img-name-wrapper {
    @include display-flex;
    @include flex-direction-row;
    @include align-items-center;
}

.cart-sub-section-wrapper {
    margin: 12px 0;

    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 24px;
    }
}

.cart-total-item-wrapper {
    .cart-total-item {
        color: #585858;
        padding-bottom: 8px;
        margin-bottom: 14px;
        text-align: right;
        border-bottom: 1px solid #eaeaea;
    }
}

.form-group {
    &.coupoun-input-wrapper {

        input {
            height: 51px;

            &:hover,
            &:focus {
                border-color: $brand-color;
            }
        }

        .btn {
            margin-top: 14px;
            margin-bottom: 0;
            width: 100%;
        }
    }
}

.cart-list--w-btn-wrapper {
    .multiple-btn-wrapper {
        display: block;

        .btn {
            width: 100%;
            margin-right: 0;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

.multiple-btn-wrapper {
    &.cart-btn--wrapper {
        display: block;

        .btn {
            width: 100%;
            margin-right: 0;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .cart-table-content table.table.morden-table thead.thead-light {
        display: table-caption;
    }

    .cart-table-content table thead>tr {
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    .cart-table-content table thead>tr th {
        padding: 0px 20px 5px;
        width: 100%;
        display: block;
    }

    .cart-table-content table tbody>tr td {
        width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .cart-table-content table tbody>tr td {
        border-bottom: 0;
        padding: 4px 0;
    }

    .cart-table-content table tbody>tr {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 14px;
        display: block;
        border-bottom: 1px solid $table-bordered-custom;
    }

    .cart-table-content table tbody>tr:last-child {
        border-bottom: 0;
    }

    .cart-table-content table tfoot {
        display: none;

        &>tr {
            display: block;
        }

        td {
            display: block;
            width: 100%;
            padding-bottom: 14px;

            &.subtotal {
                white-space: nowrap;
            }
        }

        td.blankspace-td {
            display: none;
        }
    }

    table.table.morden-table {
        background-color: transparent;

        tfoot {
            tr {
                td {
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
        }
    }

    tbody {
        display: table-caption;
    }

    .carts-product-img-name-wrapper {
        display: block !important;
        text-align: center;
    }

    .item-delete-icon {
        margin: 0 auto 8px;
    }

    .product-img-table-wrapper {
        margin: 0 0 14px auto;
    }

    table.table.morden-table tbody tr td .product-name {
        width: 100%;
    }

    table.table.morden-table tbody tr td.subtotal {
        font-weight: 600;
    }

    .cart-table-content {
        background-color: $white-color;

        .item-delete-icon {
            width: 30px;
            height: 30px;
            margin-right: 0;
            margin-left: auto;
        }

        table {
            >thead {
                display: none !important;
            }

            tr td:not(.carts-product-img-td) {
                text-align: right;

                &:before {
                    content: attr(data-title) ": ";
                    font-weight: 600;
                    float: left;
                    color: #222;

                }
            }

            tr td.carts-product-img-td {
                .product-name {
                    &:before {
                        content: attr(data-title) ": ";
                        font-weight: 600;
                        float: left;
                        color: #222;
                    }
                }
            }

            .product-qty-td::before {
                margin-top: 8px;
            }

            &.morden-table tr td.subtotal {
                text-align: right;
            }

            &.morden-table tbody tr td .product-name {
                text-align: right;
            }

            .qty-width-wrapper {
                margin-right: 0;
                margin-left: auto;
            }

            .qty-input {
                justify-content: flex-end;
            }

            tbody tr {
                td {
                    padding: 15px 12px;
                }
            }
        }
    }

}

@media only screen and (max-width: 575.98px) {

    .cart-table-content table tfoot {
        td {
            &.subtotal {
                white-space: normal;
            }
        }
    }
}

.cart-table-content .mobile-text {
    display: none;
}

@media only screen and (min-width: 767.98px) {
    .form-group {
        &.coupoun-input-wrapper {
            max-width: 100%;
            @include display-flex;
            @include align-items-center;
            position: relative;

            .btn {
                width: auto;
                margin: 0 0 0 14px;
            }
        }
    }

    .cart-list--w-btn-wrapper {
        .multiple-btn-wrapper {
            @include display-flex;
            @include justify-content-space-between;

            .btn {
                width: auto;

                &:not(:last-child) {
                    margin-right: 14px;
                }
            }
        }
    }


    .multiple-btn-wrapper {
        &.cart-btn--wrapper {
            @include display-flex;
            @include justify-content-flex-end;

            .btn {
                width: auto;

                &:not(:last-child) {
                    margin-right: 14px;
                }
            }
        }
    }
}