@import '../../scss/mixin';

.product-category-wrapper {
  @include display-flex;
  @include flex-direction-row;
  @include flex-wrap(wrap);
}


.all-category-wrapper {
  padding: 0;

  .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  ul {
    margin: 0;
  }

  li {
    font-size: 14px;
    margin-bottom: 14px;
    @include transition;

    a {
      @include display-flex;
      @include justify-content-space-between;
      @include align-items-center;
      line-height: 1.4;
      color: $text-dark;

      &:hover {
        cursor: pointer;
        color: $accent-color;
      }
    }
  }
}

ngb-rating {
  color: #FFC107;
  font-size: 18px;
}

:host ::ng-deep {
  @media (min-width: 992px) {
    .products-item-container .card.product-item-wrapper {
      width: calc(100% / 3 - 10px);
    }
  }
}