<div class="tab-pane aside-card-wrapper fade show active" id="nav-orderHistory" role="tabpanel"
    aria-labelledby="nav-orderHistory-tab">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="section-title-wrapper w--product-filter">
                <h2 class="section-title mt-2 mb-2">Order History</h2>
                <div class="tools">
                    <div class="filter-select-wrapper sort-by">
                        <select class="form-control" id="orderHistoryId">
                            <option value="allOrder" selected>All Order</option>
                            <option value="Shipping">Shipping</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Pending">Pending</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Return">Return</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table-wrap table-responsive text-center">
                <table class="table morden-table">
                    <thead class="thead-light">
                        <tr>
                            <th>Order</th>
                            <th>Item Detail</th>
                            <th>Created on</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Order">
                                <span class="mobile-text">Order:</span>1234</td>
                            <td data-title="Item Detail">
                                <span class="mobile-text">Item Detail</span>
                                <a routerLink="/products/product-detail">Adidas Ultraboost Web
                                    DNA Shoes
                                    Sportswear</a>
                            </td>
                            <td data-title="Created On">
                                <span class="mobile-text">Created On:</span>Aug 22, 2018</td>
                            <td data-title="Total">
                                <span class="mobile-text">Total:</span>$3000</td>
                            <td data-title="Status">
                                <span class="mobile-text">Status:</span>
                                <span class="badge badge-pill badge-primary">Shipping</span>
                            </td>
                            <td data-title="Action">
                                <span class="mobile-text">Action:</span>
                                <div class="td-btn-wrapper">
                                    <a routerLink="/account/order-detail"
                                        class="link-as-btn text-decoration-underline">Manage</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Order">
                                <span class="mobile-text">Order:</span>1234</td>
                            <td data-title="Item Detail">
                                <span class="mobile-text">Item Detail</span>
                                <a routerLink="/products/product-detail">Adidas Ultraboost Web
                                    DNA Shoes
                                    Sportswear</a>
                            </td>
                            <td data-title="Created On">
                                <span class="mobile-text">Created On:</span>Aug 22, 2018</td>
                            <td data-title="Total">
                                <span class="mobile-text">Total:</span>$3000</td>
                            <td data-title="Status">
                                <span class="mobile-text">Status:</span>
                                <span class="badge badge-pill badge-info">Pending</span>
                            </td>
                            <td data-title="Action">
                                <span class="mobile-text">Action:</span>
                                <div class="td-btn-wrapper">
                                    <a routerLink="/account/order-detail"
                                        class="link-as-btn text-decoration-underline">Manage</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Order">
                                <span class="mobile-text">Order:</span>1234</td>
                            <td data-title="Item Detail">
                                <span class="mobile-text">Item Detail</span>
                                <a routerLink="/products/product-detail">Adidas Ultraboost Web
                                    DNA Shoes
                                    Sportswear</a>
                            </td>
                            <td data-title="Created On">
                                <span class="mobile-text">Created On:</span>Aug 22, 2018</td>
                            <td data-title="Total">
                                <span class="mobile-text">Total:</span>$3000</td>
                            <td data-title="Status">
                                <span class="mobile-text">Status:</span>
                                <span class="badge badge-pill badge-success">Approved</span>
                            </td>
                            <td data-title="Action">
                                <span class="mobile-text">Action:</span>
                                <div class="td-btn-wrapper">
                                    <a routerLink="/account/order-detail"
                                        class="link-as-btn text-decoration-underline">Manage</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Order">
                                <span class="mobile-text">Order:</span>1234</td>
                            <td data-title="Item Detail">
                                <span class="mobile-text">Item Detail</span>
                                <a routerLink="/products/product-detail">Adidas Ultraboost Web
                                    DNA Shoes
                                    Sportswear</a>
                            </td>
                            <td data-title="Created On">
                                <span class="mobile-text">Created On:</span>Aug 22, 2018</td>
                            <td data-title="Total">
                                <span class="mobile-text">Total:</span>$3000</td>
                            <td data-title="Status">
                                <span class="mobile-text">Status:</span>
                                <span class="badge badge-pill badge-danger">Cancelled</span>
                            </td>
                            <td data-title="Action">
                                <span class="mobile-text">Action:</span>
                                <div class="td-btn-wrapper">
                                    <a routerLink="/account/order-detail"
                                        class="link-as-btn text-decoration-underline">Manage</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Order">
                                <span class="mobile-text">Order:</span>1234</td>
                            <td data-title="Item Detail">
                                <span class="mobile-text">Item Detail</span>
                                <a routerLink="/products/product-detail">Adidas Ultraboost Web
                                    DNA Shoes
                                    Sportswear</a>
                            </td>
                            <td data-title="Created On">
                                <span class="mobile-text">Created On:</span>Aug 22, 2018</td>
                            <td data-title="Total">
                                <span class="mobile-text">Total:</span>$3000</td>
                            <td data-title="Status">
                                <span class="mobile-text">Status:</span>
                                <span class="badge badge-pill badge-warning">Return</span>
                            </td>
                            <td data-title="Action">
                                <span class="mobile-text">Action:</span>
                                <div class="td-btn-wrapper">
                                    <a routerLink="/account/order-detail"
                                        class="link-as-btn text-decoration-underline">Manage</a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <nav class="pagination-container product-pagination-container">
                <ul class="pagination flex-wrap">
                    <!-- only add disabled class if the pagination 1 is active -->
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">Previous</a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">4</a>
                    </li>

                    <!-- only add disabled class if it is last page -->
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
