<section class="section-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="section-title-wrapper">
          <h3 class="section-title title--md">Terms and Condition</h3>
        </div>
        <div class="blurb">
          <div class="list-wrapper">
            <div class="list-item">
              <div class="list-header">1. Agreement</div>
              <div class="list-body">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est magni consectetur eaque hic assumenda
                  facere reprehenderit porro sint, nulla qui ab quod, natus fuga veritatis similique commodi voluptates
                  officia fugiat. <a href="#">Click Here</a> and the
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, beatae? Sunt ea, quae laborum
                  reprehenderit in officiis architecto, illo, quia maxime quo distinctio exercitationem quibusdam nisi
                  ex amet soluta molestias.
                </p>
                <ol>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus porro consequuntur ipsam
                    debitis explicabo earum quas consectetur consequatur, qui dolorum eius pariatur. Totam corporis
                    nulla soluta repellendus! Libero, vero porro?</li>
                  <li>Voluptatibus porro consequuntur ipsam
                    debitis explicabo earum quas consectetur consequatur, qui dolorum eius pariatur. Totam corporis
                  </li>
                </ol>
              </div>
            </div>
            <div class="list-item">
              <div class="list-header">2. Header</div>
              <div class="list-body">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est magni consectetur eaque hic assumenda
                  facere reprehenderit porro sint, nulla qui ab quod, natus fuga veritatis similique commodi voluptates
                  officia fugiat. <a href="#">Click Here</a> and the
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, beatae? Sunt ea, quae laborum
                  reprehenderit in officiis architecto, illo, quia maxime quo distinctio exercitationem quibusdam nisi
                  ex amet soluta molestias.
                </p>
                <ul>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus porro consequuntur ipsam
                    debitis explicabo earum quas consectetur consequatur, qui dolorum eius pariatur. Totam corporis
                    nulla soluta repellendus! Libero, vero porro?</li>
                  <li>Voluptatibus porro consequuntur ipsam
                    debitis explicabo earum quas consectetur consequatur, qui dolorum eius pariatur. Totam corporis
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
