<section class="error-page section-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7 mx-auto">
        <div class="pt-5 pb-5 text-center">
          <figure class="img-wrapper">
            <img src="./assets/icons/error.svg" alt="Error" />
          </figure>
          <div class="section-title-wrapper text-center mb-4">
            <h2 class="section-title title--md">Ooooops!</h2>
          </div>
          <div class="sub-text mb-0">
            <p class="mb-0">
              We can't seems to find a page you are looking for.
            </p>
          </div>
          <div class="mt-5">
            <a routerLink="/" class="btn accent-btn fill-accent btn--md my-0"
              >Go to Home</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
