@import '../../scss/mixin';

ngb-rating {
    color: #FFC107;
    font-size: 18px;
}

:host ::ng-deep {
    @media (min-width: 992px) {
        .products-item-container .card.product-item-wrapper {
            width: calc(100% / 4 - 10px);
        }
    }
}