<section class="product-list-page section-padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="section-title-wrapper w--product-filter">
                    <h3 class="section-title title--md">All Products</h3>
                    <div class="products-filter-wrapper ml-auto">
                        <div class="result-layout-wrapper">
                            <span class="result-number">Showing Page 12 of 20 </span>
                        </div>
                        <div class="product-filter-wrapper__item">
                            <div class="filter-select-wrapper view-product-filter">
                                <select class="form-control" id="viewProductFilter">
                                    <option value="12" selected>12</option>
                                    <option value="24">24</option>
                                    <option value="48">48</option>
                                    <option value="all">All</option>
                                </select>
                            </div>
                            <div class="filter-select-wrapper sort-by">
                                <select class="form-control" id="sortByFilterTrigger">
                                    <option value="sortByLatest" selected>Sort by Latest</option>
                                    <option value="sortByOldest">Sort by Oldest</option>
                                    <option value="sortByHighPrice">Sort by Highest Price</option>
                                    <option value="sortByLowPrice">Sort by Lowest Price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-category-wrapper row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="product-main-container">
                    <div class="products-item-container">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1581235720704-06d3acfcb36f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1491637639811-60e2756cc1c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=856&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge new">NEW</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1541643600914-78b084683601?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1545127398-14699f92334b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge sale">SALE</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1571380401583-72ca84994796?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1581235720704-06d3acfcb36f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1491637639811-60e2756cc1c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=856&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1541643600914-78b084683601?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design
                                            Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                    </div>
                </div>
                <nav class="pagination-container product-pagination-container mr-2">
                    <ul class="pagination flex-wrap">
                        <!-- only add disabled class if the pagination 1 is active -->
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)">Previous</a>
                        </li>

                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">4</a>
                        </li>

                        <!-- only add disabled class if it is last page -->
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- offered-product-section -->
<section class="section-padding-lg fill-light-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div
                    class="section-title-wrapper d-flex align-items-center justify-content-between justify-content-sm-start">
                    <h2 class="section-title">Offered Products</h2>
                    <a class="btn btn-link primary-txt ml-5 text-nowrap" routerLink="/">View
                        All</a>
                </div>
            </div>
        </div>
        <div class="row multiple-item-carousel-row">
            <div class="col-12 col-md-12 col-lg-12">
                <carousel [loop]="true" [autoplay]="false" [autoplayInterval]="4000" [borderRadius]="0"
                    [arrowsOutside]="false" [cellsToScroll]="1" objectFit="cover" [lightDOM]="true" [height]="346"
                    class="carousel--slider-alignment">
                    <div class="carousel-cell">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1576618148400-f54bed99fcfd?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2334"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                            Design Used
                                            For Weight Lifting, Pull
                                            Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 3800.00</span>
                                        <span class="d-block current-price">Rs. 3400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1650781593595-562a2f8cce3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2671&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Apple Mackbook Pro and Premium Headphone
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 48000.00</span>
                                        <span class="d-block current-price">Rs. 432000.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">5% OFF</span>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1624377324630-f3f2752ff642?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Spruce Multipurpose Cream
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="current-price">Rs. 9990.00</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1559056199-5a47f60c5053?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Batttecreek Coffee
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 2800.00</span>
                                        <span class="d-block current-price">Rs. 1400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">12 %</span>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1541643600914-78b084683601?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2804&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Channel Perfume
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="d-block old-price">Rs. 22800.00</span>
                                        <span class="d-block current-price">Rs. 12400.00</span>
                                    </p>
                                </div>
                            </div>
                            <span class="product-item-badge discount">15 %</span>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1491637639811-60e2756cc1c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2828&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Vinta Bag
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="current-price">Rs. 9400.00</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="card product-item-wrapper hyperlink-menu-toggler"
                            routerLink="/products/product-detail">
                            <figure class="product-item-img-wrapper">
                                <img src="https://images.unsplash.com/photo-1519669011783-4eaa95fa1b7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2779&q=80"
                                    alt="image">
                            </figure>
                            <div class="product-body">
                                <div class="product-rating-name-price-wrapper">
                                    <div class="product-rating-name">
                                        <h3 class="product-name text-ellipsis-2">
                                            Jo Malone London Nectarine Blossom & Honey Cologne
                                        </h3>
                                        <div class="product-rating-digit-wrap">
                                            <div class="product-rating">
                                                <div class="rating-holder">
                                                    <div class="c-rating c-rating--big" data-rating-value="4.5">
                                                        <button>1</button>
                                                        <button>2</button>
                                                        <button>3</button>
                                                        <button>4</button>
                                                        <button>5</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-rating-digit">
                                                <span>(4.5)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="current-price">Rs. 45000.00</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </carousel>
            </div>
        </div>
    </div>
</section>
<!-- offered-product-section -->
