<div class="tab-pane aside-card-wrapper fade show active" id="nav-orderHistory" role="tabpanel"
    aria-labelledby="nav-orderHistory-tab">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="section-title-wrapper">
                <h2 class="section-title">Order Detail</h2>
            </div>
            <div class="profile-wrapper">
                <div class="personal-profile-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="aside-card-wrapper order-detail-header mt-0">
                                <div class="order-detail-header-left">
                                    <div class="order-detail-item"><span class="font-weight-bold">Order Number :</span>
                                        2243</div>
                                    <div class="order-detail-item"><span class="font-weight-bold">Order Date :</span>
                                        02/04/2022</div>
                                    <div class="order-detail-item"><span class="font-weight-bold">Expected Delivery
                                            :</span> 02/10/2022</div>
                                    <div class="order-detail-item"><span class="font-weight-bold">Billing Address
                                            :</span> lubu toll, near maheshowri
                                        petrol station, suryabinaya</div>
                                </div>
                                <div class="order-detail-header-right">
                                    <p class="order-detail-item mb-1"><span class="font-weight-bold">Paid on
                                            :</span> 02/04/2022</p>
                                    <p class="order-status mb-0">Status: <span>
                                            Shipping
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="table-wrap table-responsive text-center">
                                <table class="table morden-table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th class="subtotal text-right">Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-title="Order Id">
                                                <span class="mobile-text">Order Id:</span>1827</td>
                                            <td data-title="Product Name">
                                                <span class="mobile-text">Product Name:</span>
                                                Adidas Ultraboost Web
                                                DNA Shoes
                                                Sportswear
                                            </td>
                                            <td data-title="Price">
                                                <span class="mobile-text">Price:</span>Rs. 24,499</td>
                                            <td data-title="Qty">
                                                <span class="mobile-text">Qty:</span>
                                                <div>1</div>
                                            </td>
                                            <td class="subtotal text-right" data-title="Subtotal">
                                                <span class="mobile-text">Subtotal:</span>Rs. 24,499
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Order Id">
                                                <span class="mobile-text">Order Id:</span>234</td>
                                            <td data-title="Product Name">
                                                <span class="mobile-text">Product Name:</span>
                                                Workout Fitness Gym Gloves With Wrist Support Grip And Breathable Glove
                                                Design Used
                                                For Weight Lifting, Pull
                                                Up, Crossfit, Fitness, Gym Training Both For Men And Women
                                            </td>
                                            <td data-title="Price">
                                                <span class="mobile-text">Price:</span>Rs. 10,999</td>
                                            <td data-title="Qty">
                                                <span class="mobile-text">Qty:</span>
                                                <div>2</div>
                                            </td>
                                            <td class="subtotal text-right" data-title="Subtotal">
                                                <span class="mobile-text">Subtotal:</span>Rs. 21,998
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3"><strong>Total</strong></td>
                                            <td colspan="2" class="text-right">
                                                <strong>Rs. 46,340</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Shipping Cost</td>
                                            <td colspan="2" class="text-right">Rs. 150</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Order Tax(%)</td>
                                            <td colspan="2" class="text-right">13%</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><strong>Order Total</strong></td>
                                            <td colspan="2" class="text-right">
                                                <strong>Rs. 46,540</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Payment Method</td>
                                            <td colspan="2" class="text-right">eSewa</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Payment Status</td>
                                            <td colspan="2" class="text-right">
                                                <span class="d-block"> Paid</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="multiple-btn-wrapper mt-4">
                                <a routerLink="/account/tickets" class="btn black-btn btn-outline fill-transparent">Go
                                    Back</a>
                                <button type="submit" class="btn danger-btn fill-danger">Cancel
                                    Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
