<section class="login-page section-padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <div class="section-title-wrapper">
                    <h2 class="section-title title--md">Register</h2>
                    <p class="login-register-disclamer">
                        <span>Already have a account? </span>
                        <a routerLink="/login">Log In</a>
                    </p>
                </div>
                <div class="login-register-wrapper aside-card-wrapper">
                    <form class="login-register-wrapper-form" formGroup="userRegisterForm">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input class="form-control" formControlName="firstName" id="firstName"
                                        placeholder="Enter First Name" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input class="form-control" formControlName="lastName" id="lastName"
                                        placeholder="Enter Last Name" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="emailAddress">Email</label>
                                    <input class="form-control" formControlName="email" id="emailAddress"
                                        placeholder="name@example.com" type="email" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group psw-toggle-group m-0">
                                        <input class="form-control" formControlName="password" id="password"
                                            placeholder="Enter Password" type="password" autocomplete="off"
                                            aria-label="Password" aria-describedby="password">
                                        <div class="input-group-append">
                                            <button class="btn btn--psw-toggle" type="button">
                                                <i class="fas fa-eye-slash"></i>
                                                <!-- show below icon when toggle -->
                                                <!-- <i class="fa-solid fa-eye"></i> -->
                                            </button>
                                        </div>
                                    </div>
                                    <div class="sub-text mt-3">
                                        <p class="mb-0">Use 8 or more
                                            characters with a mix of letters, numbers &amp; symbols</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <div class="input-group psw-toggle-group m-0">
                                        <input class="form-control" formControlName="confirmPassword"
                                            id="confirmPassword" placeholder="Re-enter Password" type="password"
                                            autocomplete="off" aria-label="Confirm Password"
                                            aria-describedby="confirm-password">
                                        <div class="input-group-append">
                                            <button class="btn btn--psw-toggle" type="button">
                                                <i class="fas fa-eye-slash"></i>
                                                <!-- show below icon when toggle -->
                                                <!-- <i class="fa-solid fa-eye"></i> -->
                                            </button>
                                        </div>
                                    </div>
                                    <div class="sub-text mt-3">
                                        <p class="mb-0">Both password must match</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group remember-forgotpsw mt-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agreeToBigStorePolicy"
                                            name="agreeToBigStorePolicy" formControlName="agreeToBigStorePolicy">
                                        <label class="custom-control-label" for="agreeToBigStorePolicy">
                                            <span>I agree to SaleStore <a routerLink="/">Terms</a> and <a
                                                    routerLink="/">Privacy Policy</a>.</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group mt-4">
                                    <button type="submit"
                                        class="btn primary-btn fill-primary btn-register">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="login-register-option">
                        <span class="signin-signup-with">Or register with</span>
                        <div class="signup-signin-btn-wrapper multiple-btn-wrapper">
                            <button class="btn btn-face btn--md" type="button">
                                <i class="fa-brands fa-facebook-square"></i>
                                <span class="btn-title">Facebook</span>
                            </button>
                            <button class="btn btn-google btn--md" id="googleLogin">
                                <i class="fa-brands fa-google"></i>
                                <span class="btn-title">Google</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
