$brand-color: #F07F13;
$dark-brand-color: #d87211;
$light-primary-color: #7bc89c;
$dark-primary-color: #83b735;

$secondary-color: #ee3c24;
$secondary-dark-color: #df2a11;

$accent-color: #0063D1;
$dark-accent-color: #004fa7;
$light-accent-color: #e6effa;

$new-badge-color: #5780e2;
$discount-badge-color: #ef4318;

// $gradient-color:#000000 ... #545454 (0%);
$dark-secondary-color: #585858;
$success-color: #42a173;
$warning-color: #c0913b;
$danger-color: #f44336;
/*--- */

$default-color: #666666;
$white-color: #fff;

$table-bordered-custom: #dee2e6;
$table-bordered-custom-tfoot: #f8f9fa;

$border-light-color: #b9b9b9;

$form-input-bg: #e8e8e8;
$form-input-secondary-bg: #e9ecef;
$black-btn-secondary: #b8b8b8;
$light-btn-secondary: #dedede;
$rating-warning-bg: #F8DA48;


/* text color*/

$text-primary: #ffb600;
$text-light: #f2f3f8;
$text-light-secondary: #ebebeb;

/* for fill background-color */

/* color palette */
$fill-light: #fafafa;
$fill-light-4: #f4f4f4;
$fill-light-5: #f0f0f0;
$fill-light-secondary: #f8f8f8;
$fill-light-secondary-bg: #e1e1e1;
$fill-light-secondary-replace: #fbfbfb;
$fill-dark: #161519;
$fill-dark-secondary: #686868;

$text-dark: #161519;
$text-dark-secondary: #949292;
$text-dark-secondary-two: #999999;

$body-background: #f0f0f0;
$footer-bg-color: #ebebeb;

/* color palette */