<section class="my-account-page section-padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="section-title-wrapper">
                    <h2 class="section-title title--md">My Account</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="account-login-disclamer">
                    <div class="blurb">
                        <h3>Hello, <span class="username">User124</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="product-tab-wrapper row">
                    <nav class="custom-tab-nav col-12 col-md-12 col-lg-12">
                        <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link mb-3" id="nav-my-detail-tab" data-toggle="tab"
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                routerLink="/account" role="tab" aria-controls="nav-my-detail" aria-selected="false">My
                                Detail</a>
                            <a class="nav-item nav-link mb-3" id="nav-my-detail-tab" data-toggle="tab"
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                routerLink="/account/order-history" role="tab" aria-controls="nav-my-detail"
                                aria-selected="false">Order History</a>
                            <a class="nav-item nav-link mb-3" id="nav-my-detail-tab" data-toggle="tab"
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                routerLink="/account/tickets" role="tab" aria-controls="nav-my-detail"
                                aria-selected="false">Tickets</a>
                        </div>
                    </nav>
                    <div class="tab-content product-tab-content col-12 col-md-12 col-lg-12" id="nav-tabContent">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
