<nav
  class="navbar navbar-expand-lg navbar-light bg-light sticky-top"
  id="navbar"
>
  <div class="middle-navbar-wrapper">
    <div class="container">
      <div class="middle-navbar">
        <a class="navbar-brand" routerLink="/">
          <img
            class="mobile-show"
            src="./assets/img/logo_mobile.svg"
            alt="SalesStore"
          />
          <img
            class="desktop-show"
            src="./assets/img/logo_lg.svg"
            alt="SalesStore"
          />
        </a>
        <div class="search mobile-hidden">
          <form
            name="search_form"
            action=""
            method="post"
            class="search-form"
            id="lg-navbar-search-form"
          >
            <div class="input-group m-0">
              <div class="input-group-prepend">
                <select class="">
                  <option value="all">All</option>
                  <option value="ElectroniAccessories" selected>
                    Electroni
                  </option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <input
                autocomplete="off"
                type="text"
                name="searchProduct"
                placeholder="Search Product"
              />
              <div class="input-group-append">
                <a routerLink="/search-result" class="btn m-0" type="button">
                  <i class="fas fa-search"></i>
                </a>
              </div>
            </div>
          </form>
        </div>

        <div class="middle-navbar-right">
          <ul class="list-style-type-none m-0">
            <li class="text-right">
              <span class="desktop-show">Hi,</span>
              <span class="d-block">
                <!-- hide this register and login is the user is logged in -->
                <a routerLink="/register">Register</a> /
                <a routerLink="/login">Log In</a>

                <!-- show username if user is logged in -->
                <!-- John -->
              </span>
            </li>

            <!-- show this profile icon if user is login -->
            <!-- <li class="profile">
                            <a class="icon-item" routerLink="/account">
                                <div class="icon-wrapper">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                            </a>
                        </li> -->

            <li class="cart">
              <a class="icon-item" routerLink="/cart">
                <div class="icon-wrapper position-relative">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <span class="icon-badge">12</span>
                </div>
              </a>
            </li>
          </ul>
          <button
            class="navbar-toggler menuBar ml-5"
            type="button"
            data-toggle="collapse"
            data-target="#menuBar"
            aria-controls="menuBar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-search-container mobile-show py-3">
    <div class="container">
      <div class="search w-100 mx-auto">
        <form
          name="search_form"
          action=""
          method="post"
          class="search-form"
          id="lg-navbar-search-form"
        >
          <div class="input-group m-0">
            <div class="input-group-prepend">
              <select class="">
                <option value="all">All</option>
                <option value="ElectroniAccessories" selected>Electroni</option>
                <!-- <option value="ElectroniAccessories" selected>Electroni Accessories</option> -->
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <input
              autocomplete="off"
              type="text"
              name="searchProduct"
              placeholder="Search Product"
            />
            <div class="input-group-append">
              <a routerLink="/search-result" class="btn m-0" type="button">
                <i class="fas fa-search"></i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="bottom-navbar-wrapper">
    <div class="container">
      <div class="collapse navbar-collapse" id="menuBar">
        <div class="sidebar-close-icon">
          <i class="fas fa-times"></i>
        </div>
        <ul class="navbar-nav list-style-type-none mx-0">
          <div class="mobile-show mt-4 mb-4">
            <div class="search w-100 mx-auto">
              <form
                name="search_form"
                action=""
                method="post"
                class="search-form"
                id="lg-navbar-search-form"
              >
                <div class="input-group m-0">
                  <div class="input-group-prepend search-border">
                    <select class="">
                      <option value="all">All</option>
                      <option value="ElectroniAccessories" selected>
                        Electroni
                      </option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <input
                    class="search-border"
                    autocomplete="off"
                    type="text"
                    name="searchProduct"
                    placeholder="Search Product"
                  />
                  <div class="input-group-append">
                    <a
                      routerLink="/search-result"
                      class="btn m-0"
                      type="button"
                    >
                      <i class="fas fa-search"></i>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="category-item-wrapper">
            <li class="nav-item">
              <div class="main-categori-wrap">
                <a class="categori-show">
                  <span class="mobile-hamburger">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </span>
                  <span>All Categories</span>
                </a>
                <div class="category-menu category-hide">
                  <nav>
                    <ul
                      class="main-category-menu main-category-menu__list list-style-type-none mx-0"
                    >
                      <li class="main-category-menu__item">
                        <a
                          href="javascript:void(0)"
                          class="main-category-menu__anchor"
                        >
                          <span class="title homepage-menu-title">Fashion</span>
                          <span class="drop-icon">
                            <i class="fas fa-chevron-right"></i>
                          </span>
                          <label
                            title="Toggle Drop-down"
                            class="drop-icon"
                            for="sm-1"
                          >
                            <i class="fas fa-chevron-down"></i>
                          </label>
                        </a>
                        <input
                          type="checkbox"
                          name="sub-menu-toggler-btn"
                          class="sub-menu-input-toggler sub-menu-toggler-btn"
                          id="sm-1"
                        />
                        <ul
                          class="list-style-type-none sub-menu main-category-menu__list mx-0"
                        >
                          <li class="main-category-menu__item">
                            <a
                              routerLink="/catalog"
                              class="main-category-menu__anchor"
                            >
                              <span
                                class="title homepage-menu-title hyperlink-menu-toggler"
                                >Men's Fashion</span
                              >
                              <span class="drop-icon">
                                <i class="fas fa-chevron-right"></i>
                              </span>
                              <label
                                title="Toggle Drop-down"
                                class="drop-icon"
                                for="sm-1-1"
                              >
                                <i class="fas fa-chevron-down"></i>
                              </label>
                            </a>
                            <input
                              type="checkbox"
                              name="second-sub-menu-toggler-btn"
                              class="sub-menu-input-toggler second-sub-menu-toggler-btn"
                              id="sm-1-1"
                            />
                            <ul
                              class="list-style-type-none sub-menu sub-menu-second main-category-menu__list mx-0"
                            >
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Shoes</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Pants</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Jacket</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Coat/Suit</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Shirt</span
                                  >
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li class="main-category-menu__item">
                            <a
                              routerLink="/catalog"
                              class="main-category-menu__anchor"
                            >
                              <span
                                class="title homepage-menu-title hyperlink-menu-toggler"
                                >Women's Fashion</span
                              >
                              <span class="drop-icon">
                                <i class="fas fa-chevron-right"></i>
                              </span>
                              <label
                                title="Toggle Drop-down"
                                class="drop-icon"
                                for="sm-1-2"
                              >
                                <i class="fas fa-chevron-down"></i>
                              </label>
                            </a>
                            <input
                              type="checkbox"
                              name="second-sub-menu-toggler-btn"
                              class="sub-menu-input-toggler second-sub-menu-toggler-btn"
                              id="sm-1-2"
                            />
                            <ul
                              class="list-style-type-none sub-menu sub-menu-second main-category-menu__list mx-0"
                            >
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Ladies Shoes</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Pants & Leggins</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Women Cloths</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Traditional Dress</span
                                  >
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="main-category-menu__item">
                        <a
                          href="javascript:void(0)"
                          class="main-category-menu__anchor"
                        >
                          <span class="title homepage-menu-title"
                            >Electroni Accessories</span
                          >
                          <span class="drop-icon">
                            <i class="fas fa-chevron-right"></i>
                          </span>
                          <label
                            title="Toggle Drop-down"
                            class="drop-icon"
                            for="sm-2"
                          >
                            <i class="fas fa-chevron-down"></i>
                          </label>
                        </a>
                        <input
                          type="checkbox"
                          name="sub-menu-toggler-btn"
                          class="sub-menu-input-toggler sub-menu-toggler-btn"
                          id="sm-2"
                        />
                        <ul
                          class="list-style-type-none sub-menu main-category-menu__list mx-0"
                        >
                          <li class="main-category-menu__item">
                            <a
                              routerLink="/catalog"
                              class="main-category-menu__anchor"
                            >
                              <span
                                class="title homepage-menu-title hyperlink-menu-toggler"
                                >Audio and Video Devices</span
                              >
                              <span class="drop-icon">
                                <i class="fas fa-chevron-right"></i>
                              </span>
                              <label
                                title="Toggle Drop-down"
                                class="drop-icon"
                                for="sm-2-1"
                              >
                                <i class="fas fa-chevron-down"></i>
                              </label>
                            </a>
                            <input
                              type="checkbox"
                              name="second-sub-menu-toggler-btn"
                              class="sub-menu-input-toggler second-sub-menu-toggler-btn"
                              id="sm-2-1"
                            />
                            <ul
                              class="list-style-type-none sub-menu sub-menu-second main-category-menu__list mx-0"
                            >
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Bluetooth</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Headphone</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Speaker</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Projector</span
                                  >
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li class="main-category-menu__item">
                            <a
                              routerLink="/catalog"
                              class="main-category-menu__anchor"
                            >
                              <span
                                class="title homepage-menu-title hyperlink-menu-toggler"
                                >Camera Accessories</span
                              >
                              <span class="drop-icon">
                                <i class="fas fa-chevron-right"></i>
                              </span>
                              <label
                                title="Toggle Drop-down"
                                class="drop-icon"
                                for="sm-2-2"
                              >
                                <i class="fas fa-chevron-down"></i>
                              </label>
                            </a>
                            <input
                              type="checkbox"
                              name="second-sub-menu-toggler-btn"
                              class="sub-menu-input-toggler second-sub-menu-toggler-btn"
                              id="sm-2-2"
                            />
                            <ul
                              class="list-style-type-none sub-menu sub-menu-second main-category-menu__list mx-0"
                            >
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Shoe Mount</span
                                  >
                                </a>
                              </li>
                              <li class="main-category-menu__item">
                                <a
                                  routerLink="/catalog"
                                  class="main-category-menu__anchor"
                                >
                                  <span
                                    class="title homepage-menu-title hyperlink-menu-toggler"
                                    >Tripod</span
                                  >
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </li>
          </div>
          <div class="nav-item-wrapper">
            <li class="nav-item">
              <a
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link hyperlink-menu-toggler"
                routerLink="/products"
                >All Products</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link hyperlink-menu-toggler"
                routerLink="/"
                >Customer Care</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link hyperlink-menu-toggler"
                routerLink="/terms-and-conditions"
                >Terms and Service</a
              >
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
