<section class="login-page section-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7 mx-auto">
        <!-- show this login-register-wrapper div after user click 'Send Email' button in forgot-password page -->
        <div class="login-register-wrapper aside-card-wrapper text-center">
          <figure class="img-wrapper">
            <img
              src="./assets/icons/email-send.svg"
              alt="Password recovery instruction email"
            />
          </figure>
          <div class="section-title-wrapper justify-content-center">
            <h2 class="section-title title--md">Please check your email.</h2>
          </div>
          <div class="sub-text mb-3">
            <p class="mb-0">
              We have sent a password revocery instruction to your email.
            </p>
          </div>
          <div class="blurb">
            <p>
              <span class="d-block"
                >Did not receive the email? <a href="">Resend a new email.</a>
              </span>
              <span class="d-block">Check your spam folder?</span>
            </p>
          </div>
        </div>

        <!-- show this login-register-wrapper div after user click 'Register' button in register page -->
        <div class="login-register-wrapper aside-card-wrapper text-center">
          <figure class="img-wrapper">
            <img
              src="./assets/icons/signup-success-email.svg"
              alt="Password recovery instruction email"
            />
          </figure>
          <div class="section-title-wrapper justify-content-center">
            <h2 class="section-title title--md txt-dark-primary-color">
              Registration Successfull !
            </h2>
          </div>
          <div class="sub-text mb-3">
            <p class="mb-0">
              <!-- Please check your email. We've sent you an email with a link to confirm your email address. -->
              Please check your email. A verification link has been emailed to
              <strong class="txt-dark">john@gmail.com</strong> to verify your
              account.
            </p>
          </div>
          <div class="blurb mt-4">
            <a
              routerLink="/login"
              class="btn primary-btn btn-outline fill-transparent btn-register"
              >Go to Log In page</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
