@import '../register/register.component.scss';

a {
    font-size: 13px;
    color: $accent-color;
    text-decoration: underline;
    @include transition;

    &:hover {
        color: $brand-color;
    }
}