<div class="top-navbar-wrapper">
  <div class="container">
    <div class="top-navbar">
      <ul class="top-navbar__left list-style-type-none m-0">
        <li>
          <span class="icon-wrapper">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          <span>Bhaktapur, Nepal</span>
        </li>
      </ul>
      <ul class="top-navbar__right list-style-type-none m-0">
        <li>
          <span class="icon-wrapper">
            <i class="fa-solid fa-phone"></i>
          </span>
          <span>+01-123232, +977-9784312332</span>
        </li>
        <li>
          <span class="icon-wrapper">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <a href="mailto:contact@ss.com.np">contact@ss.com.np</a>
        </li>
      </ul>
    </div>
  </div>
</div>
